@page "/"
@using AIUI2025.Services
@using global::PatternDashboard.Shared
@inject MarketDataService MarketData
@inject PatternService PatternService

@layout MainLayout

<h1 class="dashboard-title"Market Dashboard</h1>

<div class="dashboard-row">
    <section class="panel ">
        <h3> Market Chart</h3>
        <PatternDashboard.Components.MarketChart />
    </section>

</div>
<div class="dashboard-row">
    <section class="panel narrow">
        <h3> Pattern Hits</h3>
        <PatternDashboard.Components.PatternOverlay />
    </section>
    <section class="panel narrow">
        <PatternDashboard.Components.TickStream />
    </section>

    <section class="panel narrow">
        <PatternDashboard.Components.CandleStream />
    </section>
</div>


